body {
background-color: black;
color: white;
font-family: 'Architects Daughter', serif;
font-size: 30px;
text-shadow: 4px 4px 4px #aaa;
}

.navbar{
  display: inline-block;
  position: relative;
  padding: 0px;
  margin:0px;
  text-align: center;
}

.navbar li{
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style-type: none;
  position: relative;
  float: left;
  background-color: inherit;
  width:13.15em;
}

.dropdown-menu{
  padding:0px;
  margin:0px;
  text-align: center;
}

.navbar li ul li{
  display: hide;
  border: 1px solid black;
	background-color: inherit;
}




a:link, a:visited{
  text-decoration: none;
  color:black;
  font-size: 1.7em;
  font-family: 'Architects Daughter', serif;
}

a:hover{
  text-decoration: none;
  color:gray;
  font-size: 1.7em;
  font-family: 'Architects Daughter', serif;
}
